@import './base.css';

@font-face {
  font-family: "jetbrains";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("./src/assets/fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf");
}

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-secondary);
  transition: 0.4s;
  padding: 3px;
}

#container {
  z-index: 1;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}